/* 清除默认内外边距 */
* {   margin: 0;   padding: 0;
  box-sizing: border-box; }
body{ 
    background-image: url(images/主背景.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: 0;
    height: 100vh;
}
